.sections-nav {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.sections-nav > ul {
  display: flex;
}

.sections-nav > ul > li {
  margin-left: 20px;
  font-size: 12px;
}

ul > li:last-of-type {
  text-transform: uppercase;
  text-decoration: underline;
}

ul > li:hover{
  background-color: $light_gray;
  
}